<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data
	xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 				version="2.0">
	<processing-directives>
		<overwrite-existing-data>true</overwrite-existing-data>
	</processing-directives>
	<schedule>
		<job>
			<name>HeartBeatJob</name>
			<group>HeartBeatJobGroup</group>
			<description>Диагностика использования памяти</description>
			<job-type>QuartzMemoryLeak.Jobs.Base.HeartBeatJob, QuartzMemoryLeak</job-type>
			<durable>true</durable>
			<recover>false</recover>
			<job-data-map>
				<entry>
					<key>key0</key>
					<value>value0</value>
				</entry>
			</job-data-map>
		</job>
		<trigger>
			<cron>
				<name>HeartBeatJobTrigger</name>
				<group>HeartBeatJobGroup</group>
				<description>Cron trigger for HeartBeatJob</description>
				<job-name>HeartBeatJob</job-name>
				<job-group>HeartBeatJobGroup</job-group>
				<misfire-instruction>SmartPolicy</misfire-instruction>
				<cron-expression>0/5 * * 1/1 * ? *</cron-expression>
			</cron>
		</trigger>
	</schedule>
</job-scheduling-data>